# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment Variables
.env

# Mac
.DS_Store

# Logs
*.log
logs/

# Data & Models
data/
checkpoints/
hf_space/

# IDE/Tools
.vscode/
.idea/
.gradio/
.pytest_cache/
